.page {
  display: flex;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0;
}

.spinner {
  text-align: center;
  width: 100vw;
}