.accountPage {
  display: flex;
}

.mainBuckets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 6rem 0 0;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: calc(256px + 6rem);
  border-right: 1px solid #ccc;
  padding: 3rem 3rem;
}

.right {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  padding: 3rem 3rem;
}