.adjustmentAddButton {
  padding: 0;
  margin: 0 -10px;
}

.adjustmentListItem {
  flex-direction: column;
  align-items: flex-start;
}

.adjustmentListItemNew {
  background-color: #ffffda;
  animation: highlight 5s 5s 1;
  animation-fill-mode: forwards;
}

.adjustmentListItem:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.adjustmentItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color .1s ease-in;
}

@keyframes highlight {
  from {
      background-color: #ffffda;
  }
  to {
      background-color: white;
  }
}